* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  padding-left: 25px;
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}

img {
  width: 43vw;
}

.sign-up > img {
  position: absolute;
  top: 30%;
  left: 43%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}

.sign-up > p {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.step-one {
  background-color: rgba(89, 109, 72, 0.066);
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  border-radius: 10px;
}

.step-one > p {
  padding-top: 20px;
  font-weight: 600;
}

form {
  padding-left: 20px;
}

.form-detail {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 20px;
  border-bottom: 5px rgba(128, 128, 128, 0.252) solid;
  box-shadow: inset;
}

.form-info {
  display: flex;
  gap: 40px;

  margin: 10px;
}

input {
  border: 1px gray solid;
  padding: 7px;
}

form > p {
  padding-top: 15px;
}

input:valid {
  border-color: rgba(0, 128, 0, 0.502);
}

input:invalid {
  border-color: red;
}

label {
  font-size: 12px;
}

.password {
  position: relative;
}

.password i {
  position: absolute;
  top: 78%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  padding-bottom: 15px;
}

.password > span {
  font-size: 10px;
  display: none;
  color: red;
}

.btn {
  background-color: rgba(89, 109, 72, 0.066);
  padding-bottom: 50px;
}

button {
  margin-top: 20px;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #596d48;
  color: white;
}

.btn > p {
  padding-top: 20px;
  font-size: 12px;
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  /* Your styles for medium screens go here */
  .container {
    display: flex;
    padding-left: 10px;
  }
  figure > img {
    width: 45vw;
  }
  
}

/* Styles for small screens (tablets and mobile devices) */
@media (max-width: 767px) {
  /* Your styles for small screens go here */
  .container {
    display: flex;
    flex-direction: column;
  }
  figure > img {
    width: fit-content;
    height: 40vh;
  }
}
